<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.Partial("~/Views/Shared/_StylesPartal.cshtml")
    @RenderSection("styles", required: false)
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div class="layui-header header header-doc">
        <div class="layui-main">
            <div class="layui-form component" id="mainSearchList">
                <select lay-search="" lay-filter="component">
                    <option value="">搜索功能</option>
                    <option v-for="item in mainSearchList" value="{{ item.url }}">{{ item.name }}</option>
                </select>
            </div>
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item"><a href="">最新活动</a></li>
                <li class="layui-nav-item layui-this"><a href="">产品</a></li>
                <li class="layui-nav-item"><a href="">大数据</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <dd><a href="">移动模块</a></dd>
                        <dd><a href="">后台模版</a></dd>
                        <dd><a href="">电商平台</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">社区</a></li>
            </ul>
        </div>
    </div>
    @RenderBody()
    @Html.Partial("~/Views/Shared/_ScriptsPartal.cshtml")
    @RenderSection("scripts", required: false)
    <script>

    </script>
</body>
</html>
